<main>
  <section>
    @if (chats.length == 0) {
    <h2>Aucun chat client ouvert</h2>
    }@else{
    <h2>Liste des chats</h2>
    <div class="chat-list">
      <div class="chat-card" *ngFor="let chat of chats" (click)="openChat(chat.id)">
        <div class="chat-avatar">
          <span>💬</span>
        </div>
        <div class="chat-info">
          <span class="chat-id">Chat #{{chat.id}}</span>
          <div class="customer-info " *ngIf="chat.customer">
            <span class="customer-name">Client: {{chat.customer.firstName}} {{chat.customer.lastName}}</span>
            <span class="customer-email">Email: {{chat.customer.email}}</span>
          </div>
          <div class="chat-date" *ngIf="chat.createdAt">
            <span>Créé le: {{chat.createdAt | date:'dd/MM/yyyy HH:mm'}}</span>
          </div>
        </div>
        <div class="chat-arrow">→</div>
      </div>
    </div>
    }
  </section>
</main>